.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 120px;
}
.profile-img {
  margin-top: -40px;
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
  border: none;
  animation: scaleShadow 3s infinite;
}

@keyframes scaleShadow {
  0% {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.6), 0 12px 40px 0 rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0px 0px 0 rgba(255, 255, 255, 0.8), 0 0px 0px 0 rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.8), 0 12px 40px 0 rgba(255, 255, 255, 0.8);
  }
}


.hero h1{
  text-align: center;
  width: 70%;
  font-size: 3rem;
  font-weight: 600;
}

.hero h1 span{
  background: linear-gradient(260deg, #DA7C25 0.42%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero p{
  text-align: center;
  width: 70%;
  font-size: 1.6rem;
  line-height: 40px;
  font-weight: 400;
}

.hero-action{
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 48px;
}

.hero-connect{
  margin-right: 10px;
  padding: 16px 40px;
  border-radius: 50px;
  border: 2px solid white;
  background: linear-gradient(260deg, #DA7C25 0.42%, #B923E1 100%);
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-resume{
  padding: 16px 40px;
  border-radius: 50px;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-connect:hover{
  background: linear-gradient(260deg, #DA7C25 0.42%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border:2px solid #B923E1;
}

a{
  text-decoration: none;
  color: white;
}

.hero-resume:hover,a:hover{
  border-color: #B923E1;
  background: linear-gradient(260deg, #DA7C25 0.42%, #B923E1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}


@media (max-width: 768px){
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
  }

  .profile-img{
    width: 250px;
    height: 250px;
  }

  .hero h1{
    width: 80%;
    font-size: 2.2rem;
  }

  .hero p{
    margin-top: -20px;
    width: 80%;
    font-size: 1.2rem;
    line-height:120%;
  }

  .hero-action{
    margin-left: 2%;
    gap: 16px;
    font-size: 18px;
  }

  .hero-connect{
    padding: 10px 30px;
    text-align: center;
    border-radius: 50px;
  }

  .hero-resume{
    padding: 10px 50px;
    text-align: center;
    border-radius: 40px;
  }
}