.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 80px 80px;;
}

.about-title h2 {
  text-align: center;
  font-size: 3rem;
  width: 250px;
  border-bottom: 5px solid #f1356d;
  padding: 10px;
  border-radius: 25%;
  transition: all 0.3s ease;
}

.about-title h2:hover{
  border-bottom: 5px solid #f06507;
}

.about-profile-img{
  height: 420px;
  width: 320px;
  margin: 20px 10px;
  border-radius: 5%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.about-profile-img:hover{
  transform:rotate(8deg) ;
}

.about-sections{
  display: flex;
  gap: 40px;
}

.about-right{
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para{
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
}

.about-skills{
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1.2rem;
}

.about-skill{
  display: flex;
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease;
}

.about-skill p{
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 150px;
}

.about-skills h3{
  font-size: 1.6rem;
  font-weight: 800;
  border-bottom: 2px solid #f1356d;
  max-width: 70px;
  padding: 0 2px;
}

.about-skill hr{
  outline: none;
  border: none;
  height: 6px;
  border-radius: 50px;
  background:linear-gradient(260deg, #DA7C25 0.42%, #B923E1 100%);
}

.achievement-head{
  font-size: 2rem;
  font-weight: 800;
  border-bottom: 2px solid #f1356d;
}

.about-achievements{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  transition: all 0.3s ease;
}

.about-achievement h3{
  font-size: 2.4rem;
  font-weight: 800;
  background: linear-gradient(260deg, #DA7C25 0.3%, #B923E1 110%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.about-achievement p{
  font-size: 1.4rem;
  font-weight: 500;
}

.about-skill:hover{
  transform: scale(1.1);
}

.about-achievement:hover{
  transform: scale(1.2);
}

@media (max-width: 768px){
  .about{
    gap: 80px;
    margin: 50px 70px;
    align-items: start;  
  }

  .about-title h2{
    font-size: 2.4rem;
    padding: 0;
    width: 200px;
  }

  .about-profile-img{
    display: none;
  }

  .about-sections{
    flex-direction: column;
    gap: 12px;
  }

  .about-right{
    gap: 40px;
  }

  .about-para{
    margin-top: -60px;
    font-size: 1.6rem;
    line-height: 35px;
  }

  .about-skills{
    margin-top: -20px;
    font-size: 1rem;
  }

  .about-skill p{
    font-size: 1rem;
  }

  .about-skill hr{
    height: 6px;
  }

  .about-skills h3{
    font-size: 1.8rem;
  }

  .achievement-head{
    align-self: center;
    font-size: 2.6rem;
  }

  .about-achievements{
    gap: 40px;
    flex-direction: column;
  }

  .about-achievement h3{
    font-size: 2rem;
  }

  .about-achievement p{
    font-size: 1.2rem;
  }
}