.navbar-logo {
  width: 200px;
  margin-left: -15px;
  margin-top: 4px;
  border-radius: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161513;
  margin: 16px 160px;
  position: sticky;
  z-index: 999;
}

.nav-menu{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 48px;
  font-weight: 600;
  font-size: 1.2rem;
}

.nav-menu li{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.nav-menu li img{
  display: flex;
  margin: auto;
}

.nav-connect{
  padding: 16px 32px;
  border-radius: 50px;
  font-size: 1.4 rem;
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid #B923E1;
}

.nav-connect:hover{
  border: 2px solid #161513;
  background: linear-gradient(260deg, #DA7C25 0.42%, #B923E1 100%);
  transform: scale(1.05);
  color: #161513;
}

.toggle-icon-close{
  display: none;
}

.toggle-icon-open{
  display: none;
}

@media (max-width: 768px){
  .navbar{
    margin: 20px 50px;
  }

  .nav-connect{
    display: none;
  }

  .toggle-icon-open{
    display: block;
    position: fixed;
    right: 30px;
  }

  .toggle-icon-close{
    display: block;
    position: relative;
    top: 32px;
    left: 120px;
    width: 30px;
  }

  .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: center;
    background-color: #1f0016;
    top: 0;
    /* left: 420px; */
    height: 100%;
    width: 350px;
    z-index: 999;
    gap: 32px;
    transition: right 0.5s;
    right: -50px;
  }

  .nav-menu li{
    font-size: 1.8rem;
    padding-left: 1.8vw;
    flex-direction: row;
    gap: 16px;
  }

}
